body {
    background-image: url("../images/GOT-background.jpg");
    background-size: cover;
}

#button-space {
    margin-top: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#giphy-space {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#input-space {
    background-color:  lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    margin: 10px;
}

