body {
    background-image: url("../images/GOT5-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#button-space {
    margin-top: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
}

#giphy-space {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid black;
}

#giphy-view {
    font-weight: bold;
}

#input-space {
    background-color:  lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

button {
    margin: 10px;
}

.container {
    margin-bottom: 20px;
}


